on: [push, pull_request]
name: build
jobs:
  build:
    strategy:
      matrix:
        go-version: [1.14.x]
        platform: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build
      run: mkdir dist && go build -o dist
    - name: Upload Binary
      uses: actions/upload-artifact@v1
      with:
        name: dist-${{ matrix.platform }}
        path: ./dist/
