on: 
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev
name: dev-build
jobs:
  build:
    strategy:
      matrix:
        go-version: [1.14.x]
        platform: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Run tests
      run: cd test && go test && cd ..
    - name: Build
      run: mkdir dist && go build -tags "full" -o dist
    - name: Upload Binary
      uses: actions/upload-artifact@v1
      with:
        name: dist-${{ matrix.platform }}
        path: ./dist/
